<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=100, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game Roster - Team Finder</title>

     <!-- Bootsrap CSS, AJAX, & jQuery CDN Links -->
     <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
 
     <!-- CSS & Font Files --> 
     <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
     <link rel="icon" type="image/png" href="./assets/images/Sigma.png">
     <link type="text/css" rel="stylesheet" href="./assets/css/style.css">

</head>
<body>

	{{{ body }}}
    
	<footer class="row text-center">
		<p class="col-12 pt-4"> &copy; 2018 Tony Wible</p>
	</footer>

	<!-- Bootstrap, Firebase, Moment.JS, & JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>  

</body>
</html>
